// HEADER STYLES

header {
    color: white;
    height: 100vh;
    background-image: url(../assets/portfolioHeader.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    .headerContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1 {
            padding-top: 35%;
            text-shadow: 1px 2px 2px rgb(4, 21, 29);

            span {
                margin-top: 1rem;
                text-shadow: 1px 1px 1px #2D3033;;
                display: inline-block;
                overflow: hidden;
                border-bottom: 0.15rem solid #FF0000;
                border-right: 0.3rem solid #FF0000;
                animation: 
                    typing 3s steps(20, end), 
                    cursor .5s step-end infinite;
            }
    
            @keyframes typing {
                from { width: 10% } 
                to { width: 80% }
            }

            @keyframes cursor {
                from, to { border-right-color: transparent }
                50% {border-right-color: #FF0000 }
            }
        }
    }

    .scrollContainer {
        display: flex;
        justify-content: flex-start;

        i {
            padding-right: 2rem;
        }
    }

}