// SKILLS STYLES
.skills {

    h2 {
        border-top: 0.03rem solid red;
        border-bottom: 0.03rem solid red;
        text-shadow: 0px 2px 2px rgb(4, 21, 29);
        margin-bottom: 10%;
    }

    .skillsContainer {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        flex-wrap: wrap;
        padding: 1rem;
        padding-bottom: 0;

        li {
            width: calc(100% / 4);
            min-width: 30px;
            padding: 1.25rem 0.7rem;
            text-align: center;

        }
    }
}
