@import 'setup';
@import 'typography';
@import 'header';
@import 'navBar';
@import 'about';
@import 'skills';
@import 'projects';
@import 'mediaQueries';
@import 'contact';

html {
    font-size: 125%;
}

body {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1080px;
    width: 85%;
    margin: 0 auto;
}

main {
    background-image: url(../assets/lines.png);
    background-repeat: round;
    background-position-x: right;
    background-position-y: bottom;
    background-color: black;
    padding: 10% 0;

    section {
        padding: 3% 0;
    }
}

footer {
    background: #FF0000;
    box-shadow: inset 0 0 4px 3px #000000;
    padding: 1rem 0;
}
