@import url("https://fonts.googleapis.com/css2?family=Unna:wght@400;700&family=Work+Sans:wght@300;400&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3 {
  font-family: "Unna", serif;
  color: white;
}

h4, h5, span, p, li, a {
  font-family: "Work Sans", sans-serif;
  color: white;
}

h3 {
  font-weight: 400;
}

h4, p {
  font-weight: 300;
}

h1 {
  font-size: 4.7rem;
  text-transform: uppercase;
  line-height: 3rem;
}
h1 span {
  font-size: 2rem;
  line-height: 3rem;
}

.about h2 {
  letter-spacing: 0.09rem;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
}
.about p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.skills h2 {
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}
.skills i {
  font-size: 3rem;
}
.skills i:hover, .skills i:focus {
  color: red;
  font-size: 3.5rem;
}
.skills p {
  text-transform: lowercase;
  font-size: 0.88rem;
}

.projectsTitle {
  text-align: center;
  letter-spacing: 0.28rem;
  line-height: 2.6rem;
  text-transform: uppercase;
}

.projects h3 {
  font-size: 1.3rem;
  letter-spacing: 0.125rem;
  line-height: 1.75rem;
}
.projects h4 {
  font-size: 1.05rem;
  line-height: 0.25rem;
}
.projects p {
  font-size: 0.9rem;
  line-height: 1.25rem;
}
.projects i {
  font-size: 1.25rem;
}
.projects h5, .projects a {
  color: black;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.25rem;
}
.projects a {
  text-decoration: none;
}
.projects a:hover, .projects a:focus {
  font-size: 0.8rem;
  border-bottom: 0.1rem solid red;
}

.form h2 {
  text-align: center;
  letter-spacing: 0.09rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}
.form p {
  font-size: 0.95rem;
  line-height: 1.5rem;
  padding: 2% 0;
  text-align: center;
}
.form i {
  font-size: 3rem;
}
.form i:hover,
.form i:focus {
  color: red;
  font-size: 3.5rem;
}

footer p {
  text-align: center;
  font-size: 16px;
}

header {
  color: white;
  height: 100vh;
  background-image: url(../assets/portfolioHeader.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
header .headerContainer h1 {
  padding-top: 35%;
  text-shadow: 1px 2px 2px rgb(4, 21, 29);
}
header .headerContainer h1 span {
  margin-top: 1rem;
  text-shadow: 1px 1px 1px #2D3033;
  display: inline-block;
  overflow: hidden;
  border-bottom: 0.15rem solid #FF0000;
  border-right: 0.3rem solid #FF0000;
  -webkit-animation: typing 3s steps(20, end), cursor 0.5s step-end infinite;
          animation: typing 3s steps(20, end), cursor 0.5s step-end infinite;
}
@-webkit-keyframes typing {
  from {
    width: 10%;
  }
  to {
    width: 80%;
  }
}
@keyframes typing {
  from {
    width: 10%;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes cursor {
  from, to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #FF0000;
  }
}
@keyframes cursor {
  from, to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #FF0000;
  }
}
header .scrollContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
header .scrollContainer i {
  padding-right: 2rem;
}

nav {
  background-color: black;
  text-transform: uppercase;
  padding: 1rem;
  margin: 0 auto;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .aboutImgTitle, .about .aboutTxt {
  width: 50%;
}
.about .aboutImgTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .aboutImgTitle .aboutImg {
  max-width: 450px;
  width: 90%;
  margin: 0.5rem 0;
}
.about .aboutImgTitle .aboutImg img {
  width: 100%;
}
.about .aboutTxt {
  margin-left: 1.5rem;
}

.skills h2 {
  border-top: 0.03rem solid red;
  border-bottom: 0.03rem solid red;
  text-shadow: 0px 2px 2px rgb(4, 21, 29);
  margin-bottom: 10%;
}
.skills .skillsContainer {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  padding-bottom: 0;
}
.skills .skillsContainer li {
  width: 25%;
  min-width: 30px;
  padding: 1.25rem 0.7rem;
  text-align: center;
}

.projectsTitle {
  border-top: 0.03rem solid red;
  border-bottom: 0.03rem solid red;
  text-shadow: 0px 2px 2px rgb(4, 21, 29);
  margin-bottom: 10%;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}
.projects .appTxtImgFlex {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% 0;
}
.projects .appTxtImgFlex .appImg {
  width: 75%;
  margin-bottom: 2%;
}
.projects .appTxtImgFlex .appImg img {
  width: 100%;
}
.projects .appTxtImgFlex .textilesImg {
  position: relative;
}
.projects .appTxtImgFlex .textilesImg .textilesImgOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(78, 4, 4, 0.15);
  overflow-x: hidden;
}
.projects .appTxtImgFlex .appTxtBox {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.85rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: inset 0 0 2px 1px #000000;
          box-shadow: inset 0 0 2px 1px #000000;
  z-index: 20;
}
.projects .appTxtImgFlex .appTxtBox a {
  margin-left: 0.5rem;
}
.projects .appDescription {
  width: 45%;
  margin: 5% 0;
}
.projects .appDescription h3 {
  border-bottom: 0.1rem solid #FF0000;
}
.projects .appDescription ul {
  max-width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  padding: 0;
}

@media (max-width: 1080px) {
  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .appTxtImgFlex {
    width: 100%;
    margin-bottom: 0;
  }
  .projects .appTxtImgFlex .appImg {
    margin-bottom: -3%;
  }
  .projects .appTxtImgFlex .appTxtBox {
    width: 60%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0;
  }
  .projects .appTxtImgFlex .appTxtBox h5 {
    margin: 1rem 0;
  }
  .projects .appDescription {
    width: 60%;
  }
  .projects .appDescription p {
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 830px) {
  .about .aboutTxt p {
    font-size: 16px;
  }
}
@media (max-width: 810px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .about .aboutImgTitle {
    width: 75%;
  }
  .about .aboutImgTitle h2 {
    font-size: 1.5rem;
  }
  .about .aboutTxt {
    width: 100%;
  }
  .about .aboutTxt p {
    text-align: center;
    margin-top: 1.5rem;
  }
}
@media (max-width: 740px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .headerContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .headerContainer h1 {
    padding-top: 50%;
    font-size: 3rem;
    line-height: 2.5rem;
  }
  header .headerContainer h1 span {
    font-size: 1.25rem;
    line-height: 1.2rem;
  }
  header .scrollContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .skills i {
    font-size: 2rem;
  }
  .skills p {
    font-size: 16px;
  }

  .projects {
    text-align: center;
  }
  .projects .appDescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .appDescription h3 {
    font-size: 1.2rem;
  }
  .projects .appDescription p {
    font-size: 16px;
  }
  .projects .appDescription h4 {
    margin: 0;
  }
  .projects .appDescription ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .appDescription ul li {
    padding: 0.5rem;
  }
}
@media (max-width: 570px) {
  header .headerContainer h1 {
    font-size: 2.25rem;
  }
  header .headerContainer h1 span {
    font-size: 0.95rem;
    border-bottom: 0.13rem solid #FF0000;
    border-right: 0.1rem solid #FF0000;
  }

  .about .aboutImgTitle {
    width: 100%;
  }
  .about .aboutImgTitle h2 {
    font-weight: 400;
  }

  .skills .skillsContainer {
    margin-bottom: 0;
  }
  .skills .skillsContainer li {
    width: 33.3333333333%;
  }

  .projects {
    margin-bottom: 1rem;
  }
  .projects .appTxtImgFlex .appImg {
    width: 100%;
  }
  .projects .appTxtImgFlex .appTxtBox {
    width: 95%;
  }
  .projects .appTxtImgFlex .appTxtBox h5, .projects .appTxtImgFlex .appTxtBox a {
    font-size: 16px;
    line-height: 2px;
  }
  .projects .appDescription {
    width: 100%;
  }
  .projects .appDescription h3 {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .about .aboutImgTitle h2 {
    font-size: 1.35rem;
  }
}
@media (max-width: 370px) {
  .about .aboutImgTitle h2 {
    font-size: 1.17rem;
  }
}
.form h2 {
  padding: 2.1% 0;
  border-top: 0.03rem solid red;
  border-bottom: 0.03rem solid red;
  text-shadow: 0px 2px 2px rgb(4, 21, 29);
}
.form p {
  max-width: 45rem;
  margin-bottom: 30px;
}
.form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.form ul li {
  min-width: 30px;
  padding: 5%;
  text-align: center;
}
.form form {
  max-width: 700px;
}
.form form .formRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5px;
}
.form form input, .form form textarea {
  width: 65%;
  border: 1px solid #B18F39;
  outline: 0;
  margin: 5px 0;
  resize: none;
}
.form form label {
  padding: 0;
}
.form form button {
  width: 25%;
  margin-bottom: 5%;
}

html {
  font-size: 125%;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1080px;
  width: 85%;
  margin: 0 auto;
}

main {
  background-image: url(../assets/lines.png);
  background-repeat: round;
  background-position-x: right;
  background-position-y: bottom;
  background-color: black;
  padding: 10% 0;
}
main section {
  padding: 3% 0;
}

footer {
  background: #FF0000;
  -webkit-box-shadow: inset 0 0 4px 3px #000000;
          box-shadow: inset 0 0 4px 3px #000000;
  padding: 1rem 0;
}